:root {
  --text-color: rgba(0,0,0,0); 
  --overlay-color: rgba(0,0,0,0);
  --footer-color: #rgba(0,0,0,0);
  --icon-hover-color: #rgba(0,0,0,0);
}

body {
  background-image: url("scaled_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(3px); 
  color: var(--text-color);
  overflow: hidden;
}

body::before {
  content: "";
  display: block;
  position: absolute; /* Set position absolute to cover the entire body element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color); /* Add a semi-transparent black overlay */
  z-index: -1; /* Set a negative z-index to keep the overlay behind the body content */
}

div#pagecontainer {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

h1 {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: var(--text-color);
  font-size: 5em;
  margin: 0.25em;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

h2 {
  margin: 0.25em;
  font-size: 2em;
  text-align: center;
}

div#page {
  display: grid;
  place-items: center;
  height: 100vh;
  scroll-snap-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 0.75em;
  color: var(--footer-color);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.icons a {
  margin: 0 0.5em;
  color: var(--text-color);
  font-size: 2em;
}

.icons a:hover {
  color: var(--icon-hover-color);
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 3em;
  }
  a {
    font-size: 4em !important;
  }
  #scrollbar {
    display: none !important;
  }
  #pagecontainer {
    scroll-snap-type: none !important;
  }
  #page {
    height: 50vh !important;
  }
  p {
    font-size: 2.5em !important;
  }
}

#scrollbar {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
  
.dot {

  width: 10px;
  height: 10px;
  background-color: var(--text-color, black) !important;

  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.dot.active {
  transform: scale(1.5);
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

p {
  font-size: 1.75em;
}

#section-title {
  font-size: 3.5em;
}

#about {
  width: 70vw;
}

.projects-container {
  width: 80vw;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.project-card {
  width: 20vw;
  height: 100%;
  border-radius: 1em;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out; */
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 2%;
}

.project-title {
  font-family: 'Mulish', sans-serif;
  font-size: 2.5em !important;
  text-align: center;
  margin: 0;
  margin-top: 5% !important;
  padding: 0;
  color: var(--text-color);
}

.project-text {
  color: var(--text-color);
  font-size: 1.4em !important;
  margin-top: 5% !important;
}

.project-card .image-container {
  width: 15vw;
  height: 15vw;
  overflow: hidden; /* Hide excess parts of the image */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.project-card .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover !important; /* Ensures no stretching or distorting */
  object-position: center; /* Center the image within the container */
}


.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .projects-container {
    height: 70vh;
  }

  .project-card {
    width: 80vw;
    height: 20vh;
    display: flex; /* Flexbox layout for project card */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center !important;
  }

  .project-card .image-container {
    width: 30vw;
    height: 30vw;
  }

  .project-text-container {
    width: 45vw;
    margin-left: 5vw;
  }

  .project-text {
    font-size: 1.75em !important;
  }
}


.themechange {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2em;
  color: var(--text-color);
}

.themechange:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
}